@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


:root {
  --bg-text: rgba(255,255,255,0.2);
  --color-blue: rgb(15, 15, 102);
}

body {
    background: url(corrugado\ FONDO\ OP\ 1.jpg) no-repeat;
    background-size: cover;
}

*, a {
    margin: 0; 
    box-sizing: border-box;
    outline: none;
    padding-inline-start: 0;

}

a {
  text-decoration: none;
  color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    letter-spacing: 2px;
    height: 130px;
    width: 100%;
    padding: 0px 20px;
	  font-family: 'Poppins', sans-serif;
    color: #fff;
    text-decoration: none;  
}

.sidebar{
  height: 100%;
  top: 0;
  left: 0;
  width: 350px;
  position: fixed;
  background-color: var(--bg-text);
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar.close {
    width: 100px;

}

.sidebar.close .container-letters{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.sidebar .img-logo {
  width: 80px;
  border-radius: 60px;
  margin: 0px 5px;
}


.sidebar .container-logo {
  display: flex;
}

.sidebar .container-letters{
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    font-size: 20px;
}

.sidebar .container-letters .name{
    font-weight: 900;
}

.sidebar .arrow-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .container-logo i{
  z-index: 100;
  background-color: #15235f;
  color: #fff;  
  border: 1px solid #a2a0a0 ;
  font-size: 20px;
  border-radius: 50%;
  /* display: none; */
  padding: 3px;
  cursor: pointer;


  position: absolute;
  top: 50%;
  right: -14px;
}

.header{
  display: flex;
  justify-content: end;
}

.header .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.header .list a {
    font-size: 20px;
}

.header .list .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    flex-wrap: nowrap;
    border-bottom: 3px solid transparent;
}

.header .list-redes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header .btn-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    font-size: 35px;
}

.header .container-menu{
  display: grid;
  place-content: center;
}

.header .container-menu i{
  font-size: 35px;
  display: none;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  display: flex;
  width: 600px;
  overflow:hidden;
}

.slider li {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  
}

.slider img {
  animation: slide 16s infinite ease-in-out;
}

.main .slider-container .description {
  width: min-content;
  height: auto;
  display: flex;
  margin: 200px;
  align-items: center;
  padding: 50px 20px;
  font-size: 20px;
  flex-direction: column;
}

.main .slider-container .description p{
  font-size: 50px;
  font-family: "Russo One", sans-serif;
  color: #fff;
  
}

.main .slider-container .description a{
  margin: 10px 20px;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  font-weight: 700;
}

h2{
  text-align: center;
  width: 50%;
  margin-left: 25%; 
  background-color: var(--bg-text);
  padding: 5px;
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  border-radius: 50px;
}

h2 a{
  text-decoration: underline;
}

.main .boxs-container {
  margin: 150px 100px;
}

.main .boxs-container .box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 7em;

}

.main .boxs-container .box-list li{
  min-width: 300px;
  background-color: #fff;
  border: 1px solid black;
  height: 300px;
  flex-wrap: wrap;
}


.container-wpp{
  position: fixed;
    right: 15px;
    bottom: 15px;

}
    

/* HOVERS, MEDIAS, KEYFRAMES, ETC  */


.header .list .item-list:hover {
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-in-out;
}

.btn-contact:hover{
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-in-out;
}

.container-center:hover{
  transform: scale(1.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.header .item-list i:hover {
    transform: rotate(360deg);
    transition: all 0.7s ease-in-out;

}

.header .btn-redes i:hover {
    transform: rotate(360deg) scale(1.4);
    transition: all 0.5s ease-in-out;
}

.main .slider-container .description a:hover{
  transform: scale(1.15);
  transition: transform 0.25s ease-in-out;
  color: #222;
  background-color: #fff;

}

@keyframes slide {
  0%{
    margin-left: 0%;
  }
  20%{
    margin-left: 0%;
  }

  25%{
    margin-left: -100%;
  }
  45%{
    margin-left: -100%;
  }

  50%{
    margin-left: -200%;
  }
  70%{
    margin-left: -200%;
  }

  75%{
    margin-left: -300%;
  }
  95%{
    margin-left: -300%;
  }
}

@keyframes slide {
  0%{
    transform: translateX(0%);
  }
  25%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-300%);
  }

}

@media (max-width: 768px) {
    .slider-container{
      flex-direction: column;
    }
    .header .list-redes{
      display: none;
    }

    .header .container-menu i{
      display: block;
    }
    .sidebar{
      display: none;
    }
    .main .boxs-container .box-list li{
      min-width: 300px;
      background-color: #fff;
      border: 1px solid black;
      height: 300px;
      flex-wrap: wrap;
    }
    .main .boxs-container .box-list {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      flex-wrap: wrap;
    }
  }
  