@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


:root {
  --bg-text: rgba(255,255,255,0.2);
  --color-blue: rgb(15, 15, 102);
}

body {
    background: url(corrugado\ FONDO\ OP\ 1.jpg) no-repeat;
    background-size: cover;
}

*, a {
    margin: 0; 
    box-sizing: border-box;
    outline: none;
    padding-inline-start: 0;

}

a {
  text-decoration: none;
  color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    letter-spacing: 2px;
    height: 130px;
    width: 100%;
    padding: 0px 20px;
	  font-family: 'Poppins', sans-serif;
    z-index: 100;
    color: #fff;
    text-decoration: none;
    
}

.nav .container-menu{
  /* background-color: #222; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.nav .container-menu i{
  font-size: 60px;
  cursor: pointer;
}

.nav .list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.nav .list a {
  font-size: 20px;
}

.container-center{
 display: flex;
 justify-content: space-between;
 /* background-color: #222; */
 width: 360px;
 align-items: center;
}

.container-logo img{
  transform: scale(1.30);
}

.container-name{
  font-size: 22px;
  letter-spacing: 2px;

}

.container-name a{
  font-weight: 900;
  margin-left: 50px;
}

.container-name span{
  display: block;
}

.nav .list .item-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    flex-wrap: nowrap;
    border-bottom: 3px solid transparent;
}

.nav .list-redes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.nav .btn-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    font-size: 35px;
    transform: scale(1.5);
}

.img-logo {

    width: 70px;
    height: 70px;
    border-radius: 60px;
}

.wrapper-text {
  margin: 10rem 0px;
  height: 50px;
}

svg {
	  font-family: "Russo One", sans-serif;
	  width: 90%;
    margin-left: 5%; 
    height: 200px;
    position: absolute;
    top: 100px;
    text-align: center;
    background-color: var(--bg-text);
    border-radius: 50px;

}

svg text {
	animation: stroke 4s infinite ease-in-out;
	stroke-width: 2;
	stroke: #FFFFFF;
	font-size: 100px;
    
}

h1 {
  text-align: center;
  font-family: "Russo One", sans-serif;
  color: #fff;
  background-color: var(--bg-text);
  font-size: 35px;
  width: 50%;
  margin-left: 25%;
  border-radius: 50px; 
  padding: 5px;
  animation: tituloAni 3s ease-in-out 0s 1 normal none;
}

.slider-container {
  display: flex;
  justify-content: center;
  /* width: 600px; */
  align-items: center;
}
.slider{
  display: flex;
  width: 600px;
  overflow:hidden;
}

.slider li {
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  
}

.slider img {
  animation: slide 16s infinite ease-in-out;
}

.main .slider-container .description {
  width: min-content;
  height: auto;
  display: flex;
  margin: 200px;
  align-items: center;
  padding: 50px 20px;
  font-size: 20px;
  flex-direction: column;
}

.main .slider-container .description p{
  font-size: 50px;
  font-family: "Russo One", sans-serif;
  color: #fff;
  
}

.main .slider-container .description a{
  margin: 10px 20px;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  font-weight: 700;
}

h2{
  text-align: center;
  width: 50%;
  margin-left: 25%; 
  background-color: var(--bg-text);
  padding: 5px;
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 25px;
  border-radius: 50px;
}

h2 a{
  text-decoration: underline;
}

.main .boxs-container {
  height: min-content;
  background-color: #fff;
  margin: 150px 100px;
}

.main .boxs-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

.main .boxs-container .box-list li{
  width: 300px;
  background-color: #222;
  height: 300px;
}


.container-wpp{
  position: fixed;
    right: 15px;
    bottom: 15px;

}
    

/* HOVERS, MEDIAS, KEYFRAMES, ETC  */

.nav .list .item-list:hover {
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-in-out;
}

.btn-contact:hover{
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-in-out;
}

.container-center:hover{
  transform: scale(1.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav .item-list i:hover {
    transform: rotate(360deg);
    transition: all 0.7s ease-in-out;

}

.nav .btn-redes i:hover {
    transform: rotate(360deg) scale(1.4);
    transition: all 0.5s ease-in-out;
}

.main .slider-container .description a:hover{
  transform: scale(1.15);
  transition: transform 0.25s ease-in-out;
  color: #222;
  background-color: #fff;

}

@keyframes slide {
  0%{
    margin-left: 0%;
  }
  20%{
    margin-left: 0%;
  }

  25%{
    margin-left: -100%;
  }
  45%{
    margin-left: -100%;
  }

  50%{
    margin-left: -200%;
  }
  70%{
    margin-left: -200%;
  }

  75%{
    margin-left: -300%;
  }
  95%{
    margin-left: -300%;
  }
}

@keyframes slide {
  0%{
    transform: translateX(0%);
  }
  25%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-300%);
  }

}

@media (max-width: 800px) {
    .nav{
      justify-content: space-between;
      background-color: #222;
    }


    .slider-container{
      flex-direction: column;
    }
    .list-redes .btn-redes{
      display: none;
    }
    .list-redes{
      display: none;
    }
  }
  