@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-text: rgba(255,255,255,0.2);
  --color-blue: rgb(15, 15, 102);
  --bg-nav: rgba(167, 143, 122, 0.7);
}

html{
  scroll-behavior: smooth;
}

body {
  background: url(./img/corrugado\ FONDO\ OP\ 1.jpg) no-repeat;
  background-size: cover;
}

*, a {
    margin: 0; 
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

i,button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #000;
}


.nav{
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: var(--bg-nav);
  padding: 5px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  z-index: 2;
}

.nav .img-logo {
  width: 80px;
  border-radius: 60px;
  margin: 0px 5px;
}


.nav .container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
}

.nav .container-logo .container-letters{
  display: flex;
  flex-direction: column;
}


.nav .container-letters .name{
  font-weight: 900;
  list-style: none;
  color: #000;
  padding: 0px 15px;
}

.nav .products-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;
}

.nav .products-container .container-letters{
  display: flex;
  align-items: center;
  justify-content: center;

}

.nav .container-cart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .container-cart i{
  font-size: 40px;
  color: #000;
}

.nav .sucursales-container{
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 35px;
  transition: all 0.3s ease-in-out alternate;
  gap: 20px;
}

.nav .sucursales-container i{
  font-size: 35px;
}

.nav .list-btn{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  gap: 50px;
  font-size: 35px;
}
.nav .list-btn i{
  transition: all 0.5s ease-in-out;
}



.main{
  margin-top: 150px;
  font-family: 'Montserrat', system-ui;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  display: flex;
  width: 600px;
  overflow-x: hidden;
  padding: 0;
}

.slider li {
  /* border-right: 1px solid white; */
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: center;
  /* background: #000; */
  animation: slide 16s infinite;
}

.slider img {
  object-fit: contain;
  transform: scale();
  /* background-color: #fff; */
}

.main .slider-container .description {
  width: min-content;
  height: auto;
  display: flex;
  margin: 200px;
  align-items: center;
  padding: 50px 20px;
  font-size: 20px;
  color: #fff;
  flex-direction: column;
  font-family: 'Montserrat', system-ui;
  font-weight: bold;
}

.main .slider-container .description p{
  font-size: 50px;
  color: #fff;
  
}

.main .slider-container .description a{
  margin: 10px 20px;
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  font-size: 25px;
  border-radius: 15px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

h2{
  text-align: center;
  width: 50%;
  margin-left: 25%; 
  background-color: var(--bg-text);
  padding: 5px;
  color: #fff;
  font-size: 25px;
  border-radius: 50px;
}

h2 a{
  text-decoration: underline;
  color: #fff;
}

.main .boxs-container {
  margin: 100px 100px;
}

.main .boxs-container .box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 7em;

}

.main .boxs-container .box-list .box{
  width: 300px;
  background-color: var(--bg-nav);
  height: 300px;
  padding: 10px 20px;
  font-weight: 900;
}

.main .boxs-container .box-list .box .small-text{
  font-size: 12px;
}

.main .boxs-container .img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.main .boxs-container .text-container{
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffffd4;
}

.main .boxs-container .img-container .text-100{
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  transform: rotate(-10deg);
  font-size: 30px;
}

.main .boxs-container .img-container i{
  font-size: 100px;
  color: #ffffffd4;
}

.main .boxs-container h4{
  margin-bottom: 20px;
}

.main .boxs-container .text-container span{
  text-align: center;
}

.main .boxs-container .text-container ul {
  margin-top: 25px;
}

.main .map-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.main .map-container .map{
  width: 600px;
  height: 450px;
  border: 0;
}

.main .map-container .container-letters{
  background: var(--bg-text);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.main .map-container .container-letters span{
  display: block;
  font-size: 20px;
}

.main .map-container .container-letters h3{
  font-size: 30px;
}

.main .sucursales-title{
  text-align: center;
  margin-top: 100px;
  color: #fff;
}

.main .sucursales-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.main .sucursales-container .container-letters{
  background-color: var(--bg-text);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.main .sucursales-container .container-letters h3{
  font-size: 30px;
}

.main .sucursales-container .container-letters li{
  font-size: 20px;
  
}

.footer{
  background-color: var(--bg-nav);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  font-family: 'Poppins', sans-serif;
  height: 100px;
}

.footer .rights-container{
  gap: 100px;
  display: flex;
}

.footer ul{
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.footer ul div{
  display: flex;
  gap: 40px;
}

.container-wpp{
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: rgb(28, 177, 28);
  border-radius: 50%;
  box-shadow: 2px 2px 2px #000;
  transition: all 0.3s ease-in-out;
}

.container-wpp img{
  transform: scale(0.6);
  transition: all 0.2s ease-in-out;
}

/* HOVERS, MEDIAS, KEYFRAMES, ETC  */

.header .list .item-list:hover {
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-in-out;
}

.btn-contact:hover{
    border-bottom: 3px solid #fff;
    transition: all 0.2s ease-in-out;
}

.container-center:hover{
  transform: scale(1.15);
  transition: all 0.3s ease;
  cursor: pointer;
}

.header .item-list i:hover {
    transform: rotate(360deg);

}

.nav .btn-redes i:hover {
    transform: rotate(360deg) scale(1.4);
}

.main .slider-container .description a:hover{
  transform: scale(1.15);
  color: #222;
  background-color: #fff;
}

.footer .list-container a:hover{
  border-bottom: 1px solid #000;
}

.container-wpp:hover{
  transform: scale(1.05);
  box-shadow: none;
  background-color: rgb(33, 146, 33);
}

@keyframes slide {
  0%{
    transform: translateX(0%);
  }
  25%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-300%);
  }

}

@media (max-width: 1000px){
  .slider-container{
    flex-direction: column;
  }
  .main .map-container{
    flex-direction: column;
  }
}

@media (max-width: 700px) {

  .nav{
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
  }

  .nav .img-logo{
    width: 60px;
  }

  .nav .container-logo{
    gap: 20px;
  }

  .nav .container-logo .container-letters{
    text-wrap: nowrap;
    font-size: 17px;
  }

  .nav .products-container{
    flex-direction: column;
  }

  .nav .list-btn{
    justify-content: center;
    padding: 0;
  }
    
    .slider{
      padding: 0 10px;
      width: 400px;
    }

    .main .slider-container .description{
      margin-top: 50px;
      margin-bottom: 0;
    }

    .main .slider img{
      width: 400px;
      height: auto;
    }

    .slider-container{
      flex-direction: column;
    }

    .main .catalogo{
      padding: 35px 10px;
    }

    .main .boxs-container .box-list .box{
      height: auto;
    }

    .main .map-container .container-letters{
      margin: 0 20px;
      text-align: center;
    }

    .main .map-container .map{
      width: 300px;
    }
    

    .main .sucursales-container{
      flex-direction: column;
    }

    .main .sucursales-container .caba-img{
      width: 350px;
    }

    .main .sucursales-container .container-letters{
      padding: 10px 20px;
      width: 400px;
    }

    .footer{
      gap: 0;
    }

    .footer .rights-container{
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .footer ul div{
      display: block;
    }

    .container-wpp{
      bottom: 80px;
      z-index: 9999;
    }
  }
  